@tailwind base;
@tailwind components;
@tailwind utilities;

/*default white theme*/
:root {
   --text-cl: #333;
   --a-5-cl: rgba(0, 0, 0, 0.05);
   --a-10-cl: rgba(0, 0, 0, 0.1);
}

.dark {
   --text-cl: #fff;
   --a-5-cl: rgba(255, 255, 255, 0.05);
   --a-10-cl: rgba(255, 255, 255, 0.1);
}

button[disabled],
.disabled {
   pointer-events: none;
   opacity: 0.6;
}

.mask {
   -webkit-mask-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.8) 1%,
      #fff 1%,
      #fff 99%,
      rgba(255, 255, 255, 0.8) 1%,
      rgba(255, 255, 255, 0)
   );
}

.no-scrollbar::-webkit-scrollbar {
   display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
   -ms-overflow-style: none; /* IE and Edge */
   scrollbar-width: none; /* Firefox */
}
