@tailwind base;
@tailwind components;
@tailwind utilities;


button[disabled], .disabled {
    pointer-events: none;
    opacity: .6;
}

.mask {
   -webkit-mask-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.8) 1%,
      #fff 1%,
      #fff 99%,
      rgba(255, 255, 255, 0.8) 1%,
      rgba(255, 255, 255, 0)
   );
}
